<h3>{{product.name}} | {{ product.type}}</h3>
<p *ngFor="let price of product.prices">{{price.label}}: {{price.price}} {{price.currency}}</p>
<p *ngIf="product.type === 'sticker'">Preis für {{product.info.amount}}
    : {{product.info.price}} {{product.info.currency}}</p>
