<form (ngSubmit)="submit(loginForm)" #loginForm="ngForm">
    <span>{{error}}</span>
    <label for="username">Username:</label><input id="username" name="username" type="text" ngModel required>
    <label for="password">Password:</label><input id="password" name="password" type="password" ngModel required>
    <button type="submit">Login</button>
</form>
