<ng-container *ngIf="customer$ | async as customer">
    Hello {{ customer.name }} | {{ customer.membership.type }} | {{ customer.age }} |
    <button (click)="logout()">Logout</button>
    <h2>Produkte</h2>
    <ul *ngIf="(customerProducts$ | async) as ownProducts">
        <li *ngFor="let ownProduct of ownProducts">
            <app-product [product]="ownProduct"></app-product>
        </li>
        <li *ngIf="ownProducts.length === 0">Keine Produkte</li>
    </ul>
    <h2>Verfügbare Produkte</h2>
    <ul *ngIf="(availableProducts$ | async) as availableProducts">
        <li *ngFor="let availableProduct of availableProducts">
            <app-product [product]="availableProduct"></app-product>
        </li>
        <li *ngIf="availableProducts.length === 0">Keine Produkte</li>
    </ul>
</ng-container>
